<div class="bg-main col-span-2 p-3 shadow rounded-lg w-auto">
    <a href="#section1">
        <div class="hover:bg-secondary hover:text-accent my-1 py-2 pl-3 rounded-lg">
            Projects
        </div>
    </a>
    <a href="#section2">
        <div class="hover:bg-secondary hover:text-accent my-1 p-2 pl-3 rounded-lg">
            Skills
        </div>
    </a>
    <a href="#section3">
        <div class="hover:bg-secondary hover:text-accent my-1 p-2 pl-3 rounded-lg">
            About
        </div>
    </a>
</div>