---
import github from "../images/github.png";
import linkedin from "../images/linkedin.png";
---

<div
  class="bg-main flex items-center justify-around col-span-2 p-3 shadow rounded-lg w-auto"
>
  <a href="https://github.com/justinfyh" target="_blank">
    <div class="hover:bg-accent p-3 shadow rounded-lg">
      <img class="h-9" src={github.src} />
    </div>
  </a>

  <a href="https://www.linkedin.com/in/justinfyh/" target="_blank">
    <div class="hover:bg-accent p-3 shadow rounded-lg">
      <img class="h-9" src={linkedin.src} />
    </div>
  </a>
</div>
