<div id="loading-screen" class="fixed top-0 left-0 w-full h-full flex justify-center items-center opacity-100">
    <l-quantum
        size="70"
        speed="1.75" 
        color="#1db954">
    </l-quantum>
</div>

<style>
    #loading-screen {
        background-color: #121212;
        z-index: 9999;
        transition: opacity 0.5s ease-in-out;
    }
</style>

<script type="module" src="https://cdn.jsdelivr.net/npm/ldrs/dist/auto/quantum.js"></script>