---
import ProjectCard from "./ProjectCard.astro"

import projects from '../data/projects.json'
---

<div id="section1" class="bg-main p-3 shadow rounded-lg col-span-8">
    <div class="grid grid-cols-10 mx-auto mb-12 items-center">
        <p class="col-span-1 text-center">#</p>
        <p class="col-span-6">Title</p>
        <p class="col-span-1">View</p>
        <hr class="col-span-10 border-gray-600 mb-4 ">
			{projects.map((project, index) => ( 
                <div class="grid grid-cols-10 items-center hover:bg-secondary rounded-lg col-span-10">
                    <p class="col-span-1 px-2 text-center">{index+1}</p>
                    <div class="col-span-9">
                        <ProjectCard 
                            title={ project.title }
                            description= { project.description }
                            link={project.link}
                            status={ project.status }
                            icons={ project.icons }
                            button={ project.button }
                            style={ project.style }
                        />
                    </div>
                </div>
                ))
			}
	</div>
</div>