<div id="section2" class="bg-main p-10 shadow rounded-lg col-span-8 my-2">
  <div class="">
    <div id="content" class="flex justify-between">
      <div class="flex-1 mx-2">
        <p>Frontend:</p>

        <!-- <hr class="mb-2"> -->
        <div class="flex items-center">
          <i class="devicon-react-original text-3xl"></i>
          <p class="text-white ml-2">React</p>
        </div>
        <div class="flex items-center">
          <i class="devicon-svelte-plain text-3xl"></i>
          <p class="text-white ml-2">Svelte</p>
        </div>
        <div class="flex items-center">
          <i class="devicon-tailwindcss-plain text-3xl"></i>
          <p class="text-white ml-2">Tailwind</p>
        </div>
        <div class="flex items-center">
          <i class="devicon-astro-plain text-3xl"></i>
          <p class="text-white ml-2">Astro</p>
        </div>
        <div class="flex items-center">
          <i class="devicon-androidstudio-plain text-3xl"></i>
          <p class="text-white ml-2">Android Studio</p>
        </div>
        <div class="flex items-center">
          <i class="devicon-figma-plain text-3xl"></i>
          <p class="text-white ml-2">Figma</p>
        </div>
        <div class="flex items-center">
          <i class="devicon-flutter-plain text-3xl"></i>
          <p class="text-white ml-2">Flutter</p>
        </div>
      </div>
      <div class="flex-1 mx-2">
        <!-- <hr class="mb-2"> -->
        <p>Backend:</p>

        <div class="flex items-center">
          <i class="devicon-express-original text-3xl"></i>
          <p class="text-white ml-2">Express</p>
        </div>
        <div class="flex items-center">
          <i class="devicon-mongodb-plain text-3xl"></i>
          <p class="text-white ml-2">MongoDB</p>
        </div>
        <div class="flex items-center">
          <i class="devicon-nodejs-plain text-3xl"></i>
          <p class="text-white ml-2">NodeJS</p>
        </div>
        <div class="flex items-center">
          <i class="devicon-axios-plain text-3xl"></i>
          <p class="text-white ml-2">Axios</p>
        </div>
        <div class="flex items-center">
          <i class="devicon-sqlite-plain text-3xl"></i>
          <p class="text-white ml-2">SQLite</p>
        </div>
        <div class="flex items-center">
          <i class="devicon-firebase-plain text-3xl"></i>
          <p class="text-white ml-2">Firebase</p>
        </div>
      </div>
      <div class="flex-1 mx-2">
        <p>Languages:</p>
        <!-- <hr class="mb-2"> -->
        <div class="flex items-center">
          <i class="devicon-java-plain text-3xl"></i>
          <p class="text-white ml-2">Java</p>
        </div>
        <div class="flex items-center">
          <i class="devicon-javascript-plain text-3xl"></i>
          <p class="text-white ml-2">JavaScript</p>
        </div>
        <div class="flex items-center">
          <i class="devicon-c-plain text-3xl"></i>
          <p class="text-white ml-2">C</p>
        </div>
        <div class="flex items-center">
          <i class="devicon-html5-plain text-3xl"></i>
          <p class="text-white ml-2">HTML</p>
        </div>
        <div class="flex items-center">
          <i class="devicon-python-plain text-3xl"></i>
          <p class="text-white ml-2">Python</p>
        </div>
        <div class="flex items-center">
          <i class="devicon-dart-plain text-3xl"></i>
          <p class="text-white ml-2">Dart</p>
        </div>
      </div>
    </div>
    <div>
      <p class="mt-6">Concepts:</p>
      <!-- <hr class="mb-2"> -->
      <p class="">
        git, agile, OOP, SOLID principles, RESTful APIs, testing, databases,
        software metrics, version control, concurrency
      </p>
    </div>
  </div>
</div>
