---
import icon from '../../public/favicon.svg'
---

<footer class="footer bg-slate-800 pt-20 text-white flex flex-col justify-between">
    <div class="flex">
        <a href="mailto:justinhuang2020@gmail.com" target="_blank">
            <div class="px-6 hover:text-indigo-600"><p>Email</p></div>
        </a>
        <a href="https://discordapp.com/users/justin#2535" target="_blank">
            <div class="px-6 hover:text-indigo-600"><p>Discord</p></div>
        </a>
    </div>    
    <div class="footnote text-center">
        <p>Developed by myself &copy 2023</p>
        <a class="inline-block justify-center" href="https://astro.build/" target="_blank">
            <div class="flex items-center">
                <span class="text-xs mt-1">Made with </span><img src={icon.src} alt=""><p>Astro</p>
            </div>
        </a>
    </div>
</footer>

<style>
    div {
        margin: auto;
    }
    a {
        text-decoration: none;
    }

    .footer {
        height: 20em;
    }    

    .footnote img {
        height: 28px;
    }

</style>