---
import Layout from '../layouts/Layout.astro';
import ProjectCard from '../components/ProjectCard.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1><span class="text-gradient">Projects</span></h1>
		
		<ProjectCard title='quick draw' 
			description='Allows the user to draw something based on a prompt and AI is used to make guesses on what the user is drawing'
			link='https://github.com/justinfyh/quick-draw'/>
		<ProjectCard 
			title='blackjack' 
			description='Allows the user to play blackjack against a bot, with different options for different strategies to play against'
			link='https://github.com/justinfyh/blackjack-game'/>

	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: auto;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 2.5rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
