---
import Layout from '../layouts/Layout.astro';
import ProjectCard from '../components/ProjectCard.astro';
import Portfolio from '../components/Portfolio.astro'
import Landing from '../components/Landing.astro';
import Loading from '../components/Loading.astro';

import projects from '../data/projects.json'
---

<Layout>
	<Loading/>
	<main id="main-content">
		<Landing />
		
		<Portfolio />
		
		<!-- render project cards -->
		<div class="grid-container">
			{projects.map((project) => 
				( <ProjectCard 
					title={ project.title }
					description= { project.description }
					link={`https://github.com/justinfyh/${project.link}`}
					status={ project.status }
					icons={ project.icons }
					button={ project.button }
					style={ project.style }
				/>))
				}
		</div>
	</main>
</Layout>

<style>
	main {
		margin: 0;
		padding: 0;
		width: auto;
		max-width: 100%;
		font-size: 20px;
		line-height: 1.6;
	}

	/* style projects grid */
	.grid-container {
		margin: 1em auto;
		width: 85%;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
  		grid-gap: 1em;
		grid-row-gap: 1em;
	}

	/* change grid layout based on viewport width */
	@media(max-width: 1320px) {
		.grid-container {
			grid-template-columns: repeat(2, 1fr);
			width: 90%;
		}
	}

	@media(max-width: 880px) {
		.grid-container {
			grid-template-columns: repeat(1, 1fr);
			width: 90%;
		}
	}

	#main-content {
		opacity: 0; /* Initially hide the main content */
        transition: opacity 0.5s ease-in-out;
	}
</style>

<script>
	// Smooth scroll function
	document.querySelectorAll('a[href^="#"]').forEach(anchor => {
		anchor.addEventListener('click', function (e) {
			e.preventDefault();
			document.querySelector(this.getAttribute('href')).scrollIntoView({
				behavior: 'smooth',
			});
		});
	});

	window.addEventListener("load", function () {
        document.getElementById("loading-screen").style.opacity = "0";
        document.getElementById("main-content").style.opacity = "100";

	setTimeout(function () {
		document.getElementById("loading-screen").style.display = "none";
    }, 200); 
});

</script>