---
import Layout from '../layouts/Layout.astro';
import ProjectCard from '../components/ProjectCard.astro';
import Introduction from '../components/Introduction.astro';
import Portfolio from '../components/Portfolio.astro'

---

<Layout>
	<main>

		<Introduction />

		<Portfolio />
		
		<div class="grid-container">
			<ProjectCard 
				title='portfolio website' 
				description='This webpage :)'
				link='https://github.com/justinfyh/justinfyh.github.io'/>
			<ProjectCard 
				title='todo list' 
				description='Simple Todo List mobile application created using React Native and Expo, written in Typescript and using SQLite for local data storage.'
				link='https://github.com/justinfyh/todo-list'/>
			<ProjectCard 
				title='mobile store' 
				description='Mobile application store that allows users to login, browse pc components and add items to a cart'
				link='https://github.com/justinfyh/blackjack-game'/>
			<ProjectCard title='quick draw' 
				description='Allows the user to draw something based on a prompt and AI is used to make guesses on what the user is drawing'
				link='https://github.com/justinfyh/quick-draw'/>
			<ProjectCard 
				title='blackjack' 
				description='Allows the user to play blackjack against a bot, with different options for different strategies to play against'
				link='https://github.com/justinfyh/blackjack-game'/>
			<ProjectCard 
				title='online video game store' 
				description='Developed an online store that allows users to login, browse, add to cart and purchase video games'
				link='https://github.com/justinfyh/gamesmarket'/>
		</div>
		
		
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: auto;
		max-width: calc(100% - 2rem);
		font-size: 20px;
		line-height: 1.6;
	}

	.grid-container {
		margin: 1em auto;
		width: 85%;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
  		grid-gap: 1em;
		grid-row-gap: 1em;
	}

	@media(max-width: 1320px) {
		.grid-container {
			grid-template-columns: repeat(2, 1fr);
			width: 90%;
		}
	}

	@media(max-width: 880px) {
		.grid-container {
			grid-template-columns: repeat(1, 1fr);
			width: 95%;
		}
	}
</style>
