<section class="text-white py-10">
    <div class="w-1/2 m-auto">
        <h1 class="text-black text-5xl mb-8">About Me</h1>
        
    </div>
</section>

<style>
    section {
        background-color: var(--main);
    }
</style>