---
import icon from '../../public/favicon.svg'
---

<div class="bg-main p-3 flex shadow rounded-lg col-span-10">
    <a class="inline-block justify-center mx-auto" href="https://astro.build/" target="_blank">
            <div class="flex items-center">
                <span class="text-xs">Made with </span><img class="h-7" src={icon.src} alt=""><p class="textbase">Astro</p>
            </div>
        </a>
</div>