---
import email from '../images/email.png'
import icon from '../../public/favicon.svg'
import discord from '../images/discord.png'

---

<footer class="footer bg-slate-800">
    <a href="mailto:justinhuang2020@gmail.com" target="_blank">
        <div class="container">
            <img src={email.src} alt="">
            <p>Click here to email</p>
        </div>
    </a>
    <a href="https://discordapp.com/users/justin#2535" target="_blank">
        <div class="container">
            <img src={discord.src} alt="">
            <p>Add me on Discord</p>
        </div>
    </a>
    
    <div class="footnote">
        <p>Developed by myself &copy 2023</p>
        <a href="https://astro.build/" target="_blank">
            <div>
                <span>Made with </span><img src={icon.src} alt=""><p>Astro</p>
            </div>
        </a>
    </div>
</footer>

<style>
    div {
        margin: auto;
    }
    a {
        margin: auto;
        color: white;
        text-decoration: none;
    }
    .footer {
        /* background-color: rgb(var(--accent-dark)); */
        height: 20em;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .container {
        display: flex;
        align-items: center;
    }
    
    .container img {
        margin-right: 1rem;
        height: 30px;
        margin-top: 2px;
    }
    .footnote {
        text-align: center;
    }
    .footnote a {
        display: inline-block;
        justify-content: center;
    }
    .footnote a div { 
        display: flex;
        align-items: center;
    }
    .footnote span {
        font-size: 0.6rem;
        margin-top: 0.2em;
    }
    .footnote img {
        height: 28px;
    }

</style>