<header class="header h-8 my-3">
        <nav class="nav flex m-0 p-3">
            <ul class="nav-links flex m-0 p-0">
                <li>
                    <a href="https://github.com/justinfyh" target="_blank" ><p class="hover:text-cyan-300">Github</p></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/justinfyh/" target="_blank"><p class="hover:text-cyan-300">LinkedIn</p></a>
                </li>
            </ul>
        </nav>
</header>

<style>
    .header nav ul li {
        list-style-type: none;
        padding: 0 1em;
        height: 1em;

    }

    .header nav ul li a {
        color: white;
        font-size: 1.1rem;
    }
</style>