---
import linkedin from '../images/linkedin.png'
import github from '../images/github.png'
import ThemeIcon from './ThemeIcon.astro';
import Hamburger from './Hamburger.astro'
---

<header class="header">
    <div class="container">
        <div class="logo">
        </div>
        <nav class="nav">
            <ul class="nav-links">
                <li>
                    <a href="https://www.linkedin.com/in/justinfyh/" target="_blank"><img src={linkedin.src} alt=""></a>
                </li>
                <li>
                    <a href="https://github.com/justinfyh" target="_blank"><img src={github.src} alt=""></a>
                </li>
                <li>
                    <ThemeIcon />
                </li>
                <li>
                    
                </li>
            </ul>
            <div class="hamburger2">
                <Hamburger />
            </div>
        </nav>
    </div>
</header>

<style>
    .header {
        height: 2.5em;
    }

    .header .container {
        height: 100%;
        display: flex;
        width: 80%;
        align-items: center;
        /* justify-content: center; */
        padding: 0 0;
        margin-left: auto;
    }

    .header nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 95%;
        margin-left: auto;
    }

    .header nav ul {
        align-items: center;
    }

    .header nav ul li {
        list-style-type: none;
        padding: 0 0;

    }

    .header nav ul li a img {
        height: 25px;
        margin-top: 2px;
        filter: var(--image-filter);
    }

    .nav-links {
        display: none;
    }

    .expanded {
        display: flex;
        justify-content: space-between;
        width: 50%;
        padding-left: 1em;
        position: absolute;
    }

    .expanded-nav {
        width: 90%;
        display: flex;

    }

    .hidden {
        display: none;
        visibility: hidden;
    }


    .logo a {
        color: var(--text);
        font-weight: 600;
        font-size: 1.2rem;
        text-decoration: none;
    }

    @media screen and (min-width: 470px) {
        .nav-links {
            display: flex;
            /* margin-right: -50px; */
            padding: 0;
            width: 100%;
            justify-content: space-between;
        }

        .hidden {
            display: block;
            visibility: unset;
        }

        .expanded-nav {
        width: 100%;
    }
    }

    .hamburger2 {
        position: absolute;
        right: 0;
        padding-right: 1em;
    }
</style>

<script>
    import '../scripts/menu.js'
</script>