---
import TypingAnimation from "./TypingAnimation.astro";
---

<div>
    <h1>Justin Huang.</h1>
    <TypingAnimation text="Full Stack Developer."/>
</div>

<style>
    div {
        text-align: left;
        width: 12em;
        margin-bottom: 2em;
    }

    div h1 {
        font-size: 3rem;
        padding: 0;
        margin-bottom: 0;
        margin-top: 0;
        line-height: 1.2em;
    }
</style>