<div>
    <h1>Justin Huang.</h1>
    <h1>Full Stack Developer.</h1>
</div>

<style>
    div {
        text-align: left;
        /* float: left; */
        width: 20em;
        margin-bottom: 2em;
    }

    div h1 {
        font-size: 3rem;
        padding: 0;
        margin-bottom: 0;
        margin-top: 0;
        line-height: 1.2em;
    }

    div h3 {
        font-size: 1rem;
        margin-top: 0;
    }
</style>