<div>
    <h1>Software Engineering Student</h1>
    <h3>at the University of Auckland</h2>
</div>

<style>
    div {
        text-align: center;
    }

    div h1 {
        font-size: 2rem;
        margin-bottom: 0;
    }

    div h3 {
        font-size: 1rem;
        margin-top: 0;
    }
</style>