---
import HeaderNew from "./HeaderNew.astro";
import Introduction from "./Introduction.astro";
import down from "../images/down-arrow.png"
---

<section id="section1" class="">
    <div class="overlay bg-slate-900 w-full h-screen">
        <div class="tint h-screen w-1/2 m-auto flex items-center justify-center">
            <div class="header-container top-0 absolute"><HeaderNew /></div>
            <div class="w-full">
                <div class="content text-white"><Introduction /></div>
            </div>
            <div class="scroll"><a href="#section2"><img src={down.src} alt=""></a></div>
        </div>
    </div>
</section>

<style>
    .scroll {
        font-size: 1rem;
        position: absolute;
        bottom: 1em;
        cursor: pointer;
        padding: 1em 1.2em;
    }

    .scroll a {
        text-decoration: none;
        color: #fff;
    }

    .scroll img {
        margin: 0;
        height: 2.5em;
        transition: height 0.1s ease-in-out;
    }

    .scroll img:hover {
        height: 3em;
        transition: height 0.1s ease-in-out;
    }

    @media (max-width: 400px) {
        .scroll{
            bottom: 3em;
        }
    } 
  </style>