---
import linkedin from "../images/linkedin.png";
import github from "../images/github.png";
---

<div class="h-screen w-full bg-background flex flex-col sm:flex-row items-center">

  <div class="flex w-full mt-8 justify-end sm:hidden mr-16">
    <a href="https://www.linkedin.com/in/justinfyh/" target="_blank">
        <img src={linkedin.src} height="50" width="50" class="" alt="">
    </a>
    <a href="https://github.com/justinfyh" target="_blank">
        <img src={github.src} height="50" width="50" class="ml-6" alt="">
    </a>
  </div>
      
  <div class="my-auto flex flex-col sm:flex-col">

    <div class="my-auto flex flex-col sm:flex-row">
      <p class="text-5xl sm:text-6xl font-bold sm:mt-0 sm:ml-64">justin huang</p>
  
      <div class=" sm:mt-4 hidden sm:flex">
        <a href="https://www.linkedin.com/in/justinfyh/" target="_blank">
            <img src={linkedin.src} height="30 sm:20" width="30 sm:20" class="ml-5 sm:ml-2" alt="">
        </a>
        <a href="https://github.com/justinfyh" target="_blank">
            <img src={github.src} height="30 sm:20" width="30 sm:20" class="ml-3" alt="">
        </a>
      </div>
    </div>
    
    <div>
      <p class="text-2xl mt-2 sm:ml-64">Software Engineer</p>
    </div>
  </div>
</div>
