---
import HeaderNew from "./HeaderNew.astro";
import Introduction from "./Introduction.astro";
import down from "../images/down-arrow.png"
---

<section id="section1" class="container">
    <div class="overlay">
        <div class="tint">
            <div class="header-container"><HeaderNew /></div>
            <div class="left-container">
                <div class="content"><Introduction /></div>

            </div>
            <div class="scroll"><a href="#section2"><img src={down.src} alt=""></a></div>
        </div>
    </div>
</section>

<style>
    .container {
        margin: 0;
        height: 100vh;
        text-align: center;
        font-size: 2em;
        scroll-margin-top: 50vh;
        position: relative
    }


    .left-container {
        width: 20em;
    }

    .header-container {
        top: 0;
        position: absolute;
    }

    .overlay {
        background: url('../images/screen.jpg') no-repeat top fixed; 
        background-size: cover;
        background-position: top;
        position: absolute;
        width: 100%;
    }

    .tint {
        height: 100vh;
        width: 20em;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .scroll {
        font-size: 1rem;
        position: absolute;
        bottom: 1em;
        cursor: pointer;
        padding: 1em 1.2em;
    }

    @media (max-width: 400px) {
        .scroll{
            bottom: 3em;
        }
    }

    .content {
        color: #fff;
    }

    .scroll a {
        text-decoration: none;
        color: #fff;
    }

    .scroll img {
        margin: 0;
        height: 2.5em;
        transition: height 0.1s ease-in-out;
    }

    .scroll img:hover {
        height: 3em;
        transition: height 0.1s ease-in-out;
    }
  </style>