<div>
    <h1><span class="text-gradient">Portfolio</span></h1>
    <p>some projects i'm working/worked on</p>
</div>

<style>
    div {
        display: flex;
        align-items: flex-end;
		margin-left: 10%;
        margin-bottom: 0;
    }
    h1 {
		font-size: 2.75rem;
		font-weight: 700;
		line-height: 1;
        margin-right: 0.5em;
        margin-bottom: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}

    p {
        margin-bottom: 0;
    }
</style>