<div class="container">
    <h1><span class="text-gradient">Portfolio</span></h1>
    <p>some projects I'm working/worked on</p>
</div>

<style>
    .container {
		margin-left: 10%;
        margin-bottom: 0;
    }
    
    @media(min-width: 680px) {
        .container {
            display: flex;
            align-items: flex-end;
        }
    }
    
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}

    h1 {
        margin-right: 0.5em;
        margin-bottom: 0;
    }    
    p {
        margin-top: 0;
        margin-bottom: 0.6em;
        white-space: normal;
    }
</style>