<div id="section2" class="container">
    <h1><span class="text-gradient">Portfolio</span></h1>
    <!-- <p>some projects I'm working/worked on</p> -->
</div>

<style>
    .container {
        margin: 2em 0;
        text-align: center;
    }
    
    @media(min-width: 700px) {
        .container {
            display: flex;
            align-items: flex-end;
		    margin-left: 10%;
            text-align: left;
        }
    }
    
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}

    h1 {
        margin-top: 1em;
        margin-bottom: 0;
    }  

    p {
        margin-top: 0;
        margin-bottom: 0.6em;
        white-space: normal;
        padding: 0 0.5em;
    }
</style>