---
export interface Props {
    title?: string;
    description: string;
    link: string;
}

const { title, description, link } = Astro.props as Props;
---


<div>
    <p class="title">{ title }</p>
    <p class="description">{ description }</p>
    <a class="link" href={ link } target="_blank">Repository</a>
</div>

<style>
    div {
        background-color: #1d1f26;
        width: 80%;
        margin: 2em auto;
        border: solid white;
        border-radius: 10px;
        border-width: 0.1em;
        padding: 2em;
    }
    
    .title {
        font-size: 2rem;
        margin-top: 0;
        margin-bottom: 0;
    }
    .description {
        width: 50%;
        margin: 1em 0;
        font-size: 1.25rem;
    }

    .link {
        border: solid rgb(var(--accent));
        border-radius: 10px;
        border-width: 0.12em;
        padding: 0.65em 1.5em;
        font-size: 1.25rem;
        color: white;
        text-decoration: none;
        font-weight: 500;
        margin-top: 1em;
        display: inline-block;
    }
    .link:hover {
        cursor: pointer;
        background-color: rgb(var(--accent));
        color: black;
    }
</style>