---
export interface Props {
    title?: string;
    description: string;
    link: string;
}

const { title, description, link } = Astro.props as Props;
---


<div class="container">
    <div>
        <p class="title">{ title }</p>
        <p class="description">{ description }</p>
    </div>
    
    <a class="link" href={ link } target="_blank">Repository</a>
</div>

<style>
    .container {
        background-color: var(--secondary);
        margin: 0;
        /* border: solid white; */
        border-radius: 10px;
        border-width: 0.1em;
        padding: 2em 1.2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: space-between;
    }
    
    .title {
        font-size: 2rem;
        margin-top: 0;
        margin-bottom: 0;
    }
    .description {
        margin: 1em 0;
        font-size: 1.25rem;
    }

    .link {
        border: solid rgb(var(--accent));
        border-radius: 60px;
        border-width: 0.12em;
        padding: 0.6em 1.4em;
        font-size: 1.1rem;
        color: rgb(var(--accent));
        text-decoration: none;
        font-weight: 500;
        margin-top: 1em;
        display: inline-block;
        transition: background-color 0.3s ease-in-out;
    }
    .link:hover {
        cursor: pointer;
        background-color: rgb(var(--accent));
        color: var(--secondary);
    }
</style>