---
export interface Props {
    title?: string;
}

const { title } = Astro.props as Props;
---


<div>
    <p>{ title }</p>
</div>

<style>
    div {
        background-color: #1d1f26;
        width: 80%;
        margin: 2em auto;
        border: solid white;
        border-radius: 10px;
        border-width: 1.5px;
        padding: 2em;
    }
</style>