---
export interface Props {
    title?: string;
    description: string;
    link: string;
}

const { title, description, link } = Astro.props as Props;
---


<div>
    <p class="title">{ title }</p>
    <p class="description">{ description }</p>
    <a class="link" href={ link }>Repository</a>
</div>

<style>
    div {
        background-color: #1d1f26;
        width: 80%;
        margin: 2em auto;
        border: solid white;
        border-radius: 10px;
        border-width: 2px;
        padding: 2em;
    }
    
    .title {
        font-size: 1.5em;
    }
    .description {

    }
    .link {
        border: solid rgb(var(--accent));
        border-radius: 20px;
        border-width: 2px;
        padding: 0.7em 1.2em;
        font-size: 0.7em;
    }
    .link:hover {
        cursor: pointer;
    }
</style>