---
export interface Props {
    title: string;
    description: string;
    link: string;
    status?: string;
    icons: string[];
    button: string;
    style: string;
}

const { title, description, link, status, icons, button, style } = Astro.props as Props;
---


<div class="">
    
</div>

<style>

</style>