---
import download from '../images/download.png'
import resume from '../documents/resume-justin-huang.pdf'
---

<div class="container">
    <div class="box">
        <p>View my resume here</p>
        <a href={ resume } download>
            <div class="img-container">
            <img src={ download.src } alt="">
        </div>
        </a>
    </div>
</div>

<style>
    .container {
        height: auto;
        background: var(--gradient);
        display: flex;
        justify-content: center;
        padding: 1em 0;
    }

    .box {
        background-color: var(--secondary);
        width: 40%;
        margin: auto;
        border-radius: 10px;
        padding: 2em 3em;
        text-align: center;
    }

    .gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    p {
        font-size: 1.5rem;
    }

    img {
        height: 35px;
        
    }

    .img-container {
        background-color: rgb(var(--accent-dark));
        border-radius: 10px;
        padding: 0.7em 0.7em;
        width: 5em;
        margin: auto;
    }
</style>