<astro-sidebar>
    <nav id="sidebar" class="p-3 rounded-md bg-slate-800">
      <ul>
        <li><a href="#section1">Home</a></li>
        <li><a href="#section2">Portfolio</a></li>
        <li><a href="#section3">Skills</a></li>
        <li><a href="#section4">About</a></li>
      </ul>
    </nav>
  </astro-sidebar>
  
  <style>
    astro-sidebar {
      width:170px;
      height: 20vh;
      color: #fff;
      position: fixed;
      top: 0;
      right: 0;
      padding: 30px;
      box-sizing: border-box;
      text-align: right;
      
    }
  
    nav {
      margin-bottom: 20px;
      color: #fff;
    }
  
    ul {
      list-style: none;
      padding: 0;
    }
  
    li {
      margin-bottom: 10px;
    }

    a:hover {
        color: blueviolet;
    }
  </style>
