<div class="px-20 w-full mt-20">
  <p class="font-bold text-5xl mb-12">skills</p>
  <div class=" grid grid-cols-3 gap-12">
    <div>
        <div class="bg-main p-8 rounded-xl">
            <p class="text-3xl font-bold mb-4">frontend</p>

          <div class="flex items-center mb-1">
          <i class="devicon-react-original text-4xl"></i>
          <p class="text-white text-2xl ml-2">React</p>
        </div>
        <div class="flex items-center mb-1">
          <i class="devicon-svelte-plain text-4xl"></i>
          <p class="text-white text-2xl ml-2">Svelte</p>
        </div>
        <div class="flex items-center mb-1">
          <i class="devicon-tailwindcss-plain text-4xl"></i>
          <p class="text-white text-2xl ml-2">Tailwind</p>
        </div>
        <div class="flex items-center mb-1">
          <i class="devicon-astro-plain text-4xl"></i>
          <p class="text-white text-2xl ml-2">Astro</p>
        </div>
        <div class="flex items-center mb-1">
          <i class="devicon-androidstudio-plain text-4xl"></i>
          <p class="text-white text-2xl ml-2">Android Studio</p>
        </div>
        <div class="flex items-center mb-1">
          <i class="devicon-figma-plain text-4xl"></i>
          <p class="text-white text-2xl ml-2">Figma</p>
        </div>
        <div class="flex items-center mb-1">
          <i class="devicon-flutter-plain text-4xl"></i>
          <p class="text-white text-2xl ml-2">Flutter</p>
        </div>

        </div>
    </div>
    <div>
        <div class="bg-main p-8 rounded-xl">
            <p class="text-3xl font-bold mb-4">backend</p>

            <div class="flex items-center mb-1">
            <i class="devicon-express-original text-4xl"></i>
            <p class="text-white text-2xl ml-2">Express</p>
            </div>
            <div class="flex items-center mb-1">
            <i class="devicon-mongodb-plain text-4xl"></i>
            <p class="text-white text-2xl ml-2">MongoDB</p>
            </div>
            <div class="flex items-center mb-1">
            <i class="devicon-nodejs-plain text-4xl"></i>
            <p class="text-white text-2xl ml-2">NodeJS</p>
            </div>
            <div class="flex items-center mb-1">
            <i class="devicon-axios-plain text-4xl"></i>
            <p class="text-white text-2xl ml-2">Axios</p>
            </div>
            <div class="flex items-center mb-1">
            <i class="devicon-sqlite-plain text-4xl"></i>
            <p class="text-white text-2xl ml-2">SQLite</p>
            </div>
            <div class="flex items-center mb-1">
                <i class="devicon-firebase-plain text-4xl"></i>
                <p class="text-white text-2xl ml-2">Firebase</p>
            </div>
        </div>
    </div>
    <div>
        <div class="bg-main p-8 rounded-xl">
            <p class="text-3xl font-bold mb-4">languages</p>

          <div class="flex items-center mb-1">
          <i class="devicon-java-plain text-4xl"></i>
          <p class="text-white text-2xl ml-2">Java</p>
        </div>
        <div class="flex items-center mb-1">
          <i class="devicon-javascript-plain text-4xl"></i>
          <p class="text-white text-2xl ml-2">JavaScript</p>
        </div>
        <div class="flex items-center mb-1">
          <i class="devicon-c-plain text-4xl"></i>
          <p class="text-white text-2xl ml-2">C</p>
        </div>
        <div class="flex items-center mb-1">
          <i class="devicon-html5-plain text-4xl"></i>
          <p class="text-white text-2xl ml-2">HTML</p>
        </div>
        <div class="flex items-center mb-1">
          <i class="devicon-python-plain text-4xl"></i>
          <p class="text-white text-2xl ml-2">Python</p>
        </div>
        <div class="flex items-center mb-1">
          <i class="devicon-dart-plain text-4xl"></i>
          <p class="text-white text-2xl ml-2">Dart</p>
        </div>
        </div>
    </div>
  </div>
  </div>