---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro';
import ResumeCard from '../components/ResumeCard.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
		<title>Justin Huang | Software Engineering Student</title>
	</head>
	<body>
		<Header />
		<slot />
		<ResumeCard />
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		--accent: 40, 167, 69; 
		--accent-light:  144, 238, 144;
		--accent-dark: 0, 100, 0;   
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);

		
		--main: #f0f0f0;
		--secondary: white;
		--text: black;
		--image-filter: invert(100%);
		margin: 0;

		--gradient: linear-gradient(
			0,
			rgb(var(--accent-dark)) 0%,
			rgb(var(--accent-dark)) 50%,
			var(--main) 50%,
			var(--main) 100%
		);
	}
	:root.dark {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
		
		--main: #13151a;
		--secondary: #1d1f26;
		--text: white;
		--image-filter: unset;
	}

	html {
		font-family: system-ui, sans-serif;
		background: var(--main);
		transition: background 0.2s ease-in-out;
		/* background-size: 224px; */
	}
	html.dark {
		color: white;
	}

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	body {
		margin: 0;
		font-family: 'Lato', sans-serif;
	}
</style>
